<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1wo0fgUv0h9prvz1mt5wMc3Lvofxzs8w</string>
	<key>GCM_SENDER_ID</key>
	<string>172881875812</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ticketmaster.caleboruta</string>
	<key>PROJECT_ID</key>
	<string>ticket-d5d35</string>
	<key>STORAGE_BUCKET</key>
	<string>ticket-d5d35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172881875812:ios:616e086f8eb59550eba071</string>
</dict>
</plist>